.job-cards-con {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
  /* justify-content: space-between; */
}

.job-card {
  width: 30rem;
  height: 15.8rem;
  text-align: left;
  /* align-self: flex-start; */
  /* display: flex; */
  /* flex-direction: column; */
  padding: 3rem 2rem;
  background-color: #111827;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  /* margin: 0 auto; */

  /* align-items: center; */
}

.recom-title-span {
  background-color: #111827;
  border-radius: 1rem;
  /* font-size: 3.2rem; */
  padding: 1rem;
  color: #fff;
  margin: 0 3px;
  /* letter-spacing: 3px; */
  /* text-transform: uppercase; */
}

.job-title {
  margin-bottom: 0.5rem;
}
.job-desc {
  margin-bottom: 0.5rem;
}
.job-salary {
  margin-bottom: 0.5rem;
}

.btn-job-apply {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  background-color: red;
  width: 12rem;
  text-align: center;
  padding: 1rem 1rem;
  /* border-radius: 0.5rem; */
}
