.recom-page-main-con {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  gap: 2rem;
  /* padding: 2rem 2rem; */
}

.recom-left-sidebar {
  width: 25%;
  background-color: #111827;
  height: 100vh;
  padding: 4rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  /* border-radius: 1 rem; */
}

.recom-section-con {
  /* width: 100%; */
  align-self: flex-start;
  text-align: center;
  padding-top: 4rem;
}

.recom-section-title {
  /* width: 70%; */
  margin: 0 auto 7rem auto;
  font-size: 5rem;
  word-spacing: 4px;
}
