* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
/* body {
  background: linear-gradient(
    to right,
    rgb(38, 51, 61),
    rgb(50, 55, 65),
    rgb(33, 33, 78)
  );
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  /* color: #333333; */
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  display: block;
}
